doctype html
html(
  lang="fr",
  xmlns:ng="http://angularjs.org",
  id="ng-app",
  ng-app="app"
)
  head
    meta(charset="utf-8")
    title Loopback csv import
    link(href="style/main.css", rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

  body
    .view-container.anim-fadeUp
      .view-frame.container-fluid(ui-view)

    script(src="script/vendor.js")
    script(src="script/templates.js")
    script(src="script/services.js")
    script(src="script/application.js")
